/*hfdsao*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
 font-family: 'Raleway', 'seriff';
}
body {
 line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
 display:block;
}
nav ul {
 list-style:none;
}
blockquote, q {
 quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}
a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
 text-decoration: none;
 color: black;
}

body {
	overflow-x: hidden;
}

/*main*/

.main {
	height: 100vh;
	width: 100vw;
	background-color: rgb(255, 179, 236, 0.4);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.main section {
	flex-direction: column;
	justify-content: center;
}

.main .x-centered {
	align-items: center;
}

.main .x-left-offset {
	padding-left: 5vw;
}

.main .form-section {
	display: flex;
	height: 45vw;
	width: 30vw;
	background-color: rgb(255, 179, 236, 0.4);
}

.main .patient-section {
	display: flex;
	height: 45vw;
	width: 45vw;
	background-color: rgb(255, 255, 255, 0.4);
}

/*all available*/

h1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 179, 236, 0.8);
	font-size: 24px;
}

.element {
	padding-top: 24px;
	padding-bottom: 24px;
	width: 15vw;
}

.row-element {
	width: 80% !important;
}

.row-item {
	margin-bottom: 14px;
}

.row-item input {
	font-size: 14px;
}

.col-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.col-item {
	
}

.hidden {
	display: none !important;
}

.emphasize {
	font-weight: bolder;
	font-size: 18px;
}